*{
	padding: 0;
	margin: 0;
}

/* First Section */
#bienvenida{ /* Fondo de la sección */
	background-image: url(../img/bg-header.jpg);
	background-size: cover;
	width: 100%;
	height: 500px;
}

#nav-bar{ /*Para que los elementos que son hijos de ul se posicionen*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}