*{
	padding: 0;
	margin: 0;
}

/* First Section */
#bienvenida{ /* Fondo de la sección */
	background-image: url(../img/bg-header.jpg);
	background-size: cover;
	width: 100%;
	height: 700px;
}
/** Menú **/
#enlaces{ /*Para que los elementos que son hijos de ul se posicionen*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

#nav-bar{
	position: fixed;
	width: 100%;
	padding: 30px;
}

#profile{
	height: 100%;

}

#cont-prof{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}